html, body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background: #f2f3f5;
    color: #e5e7eb;
    /* min-height: 100vh; */
}

.app-layout {
  display: flex;
  min-height: 100vh;
  align-items: stretch;
}

.main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content {
    padding: 20px;
    flex: 1;
    background: #f2f3f5;
    margin-top: 0px
}

/* Header / Footer */
header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f2f3f5;
  color: #000000;
  padding: 10px 20px;
}

.header-icons img {
  width: 29px;
  height : 29px;
  margin-left: 15px;

}

.header-icons img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s;
}

footer {
  background: rgba(255, 255, 255, 0.45);
  color: #000000;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  /* position: sticky; */
  bottom: 0;
  /* margin-left: 50px; */
}

/* Sidebar */

.Sidebar {  
  width: 190px;
  position: static;
  top: 0;
  left: 0;
  color: rgb(0, 0, 0);
  padding: 10px;
  flex-shrink: 0;
  background: #2948d1;  /* transparent */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-right: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0 8px 32px rgba(90, 90, 90, 0.35);
}

.title {
  margin-bottom: 20px;
  padding-top: 2px;
}

.ul-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.li-items {
  display: block;
  padding: 15px 10px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

a.li-items:hover {
  background-color: #4a5ae4;
}

a.li-items.active {
  background-color: #080175;
  font-weight: bold;
  color: #ffffff

}


/* Dashboard */

.Dashboard {
    background: #f2f3f5;
    color: #0a0a0a;
    text-align: center;
    padding: 24px;
}

/* Chart */

.chart {
    margin-top: 40px;
    background-color: #a6b3ec;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 30px;
    border: 1px solid #777c81;
    color: rgb(0, 0, 0);
}


/* Cards */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    margin-top: 30px;
}

.card {
    background: #a6b3ec;
    padding: 20px;
    border-radius: 14px;
    color: #000000;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #1e293b;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.card h3 {
    font-size: 14px;
    opacity: 0.7;
}

.value {
    font-size: 32px;
    font-weight: bold;
    margin: 8px 0;
    color: #0c0568;
}

.meta {
    font-size: 12px;
    opacity: 0.6;
}

.danger {
    color: #ef4444;
}

.Sprint {
    background-color: #f3f3f3;
  color: #000000;
  padding: 40px;
}