.body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to left, #8a3535, #333333);
}

main {
    padding: 20px;
}

footer {
    background: linear-gradient(to left, #8a3535, #333333);
    color: #eee;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: auto;
    border: 2px solid #410c0c;
    border-radius: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to left, #8a3535, #333333);
    padding: 10px;
    color: #f36060;
    border: 2px solid #410c0c;
    border-radius: 10px;
}

.search {
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: #2b0909 2px 2px 5px;
    margin-right: 140px;
}

.srchbtn {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #ff0808;
    border-radius: 10px;
    box-shadow: #ff0000 2px 2px 5px;
}

.srchbtn:hover {
    background-color: rgb(168, 20, 20);
}

.Menu-btn {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #f36060;
    border: none;
    color: rgb(32, 5, 5);
    border-radius: 10px;
    box-shadow: #160909 2px 2px 5px;
}

.Menu-btn:hover {
    background-color: rgb(156, 36, 36);
    color: tomato;
}

/* Sidebar panel */

.open-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1000;
  background-color: #f36060;
}

.Sidebar {
  position: fixed;
  top: 0;
  right: -400px; /* hidden */
  width: 350px;
  height: 100vh;
  background: linear-gradient(to left, #8a3535, #333333);
  color: rgb(180, 44, 44);
  padding: 20px;
  border-left: 2px solid #333333;
  border-radius: 10px 0 0 10px;
  transition: left 0.3s ease;
  z-index: 999;
}

.Sidebar.open {
  right: 0;
  color: white;
}

.sidebtn {
  padding: 10px 15px;
  cursor: pointer;
  background-color: rgb(255, 0, 0);
  border: none;
  color: rgb(32, 5, 5);
  border-radius: 10px;
}

.sidebtn:hover {
    color:rgb(255, 246, 246);
    background-color: rgb(56, 1, 1);
    
}

/* Close button */
.close-btn {
  background: none;
  color: rgb(245, 241, 241);
  border: none;
  font-size: 18px;
  position: absolute;
  top: 40px;
  right: 10px;
  cursor: pointer;
}

.close-btn:hover {
    color:rgb(29, 0, 0)
}

.ul-items {
  list-style: none;
  padding: 0;
}

.li-items {
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s;
}

.li-items:hover {
  background: rgba(250, 142, 142, 0.2);
}

.li-items.active {
  background: rgba(248, 58, 58, 0.4);
  font-weight: bold;
}

/* Dashboard designing */

.Dashboard {
    background: linear-gradient(to left, #8a3535, #333333);
    height: auto;
    color: white;
    text-align: center;
    padding:  24px;
}

.chart{
    margin-top: 50px;
    background-color: rgb(172, 171, 171);
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 30px;
}

.card {
  background: linear-gradient(to left, #582424, #1a1919);
  padding: 20px;
  border-radius: 14px;
  color: white;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.card h3 {
  font-size: 14px;
  opacity: 0.7;
}

.value {
  font-size: 32px;
  font-weight: bold;
  margin: 8px 0;
}

.meta {
  font-size: 12px;
  opacity: 0.6;
}

.danger {
  color: #ef4444;
}